<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<!-- Services section - start -->
<app-about-tag  ></app-about-tag>
<!-- Services section - end -->

<!-- Catering Services section - start -->
<app-catering-service-tag></app-catering-service-tag>
<!-- Catering Services section - end -->

<!-- our experience - start -->
<app-experience-tag></app-experience-tag>
<!-- our experience - end -->

<!-- Our Master Chef section - start -->
<app-master-chef-tag></app-master-chef-tag>
<!-- Our Master Chef section - end -->

<!-- Happy Customer section - start -->
<app-happy-customer-tag></app-happy-customer-tag>
<!-- Happy Customer section - end -->

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->