<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 pt-5 px-2 pb-2 p-md-5 order-md-last">
                <h2 class="h4 mb-2 mb-md-5 font-weight-bold">Contact Us</h2>
                <app-contact-form></app-contact-form>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <!-- <div id="map"></div> -->
                <app-map-tag></app-map-tag>
            </div>
        </div>
    </div>
</section>