<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<!-- Specialties Our Menu section - start -->
<app-menu-tag></app-menu-tag>
<!-- Specialties Our Menu section - start -->

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->   