<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<!-- Specialties Our Menu section - start -->
<div style="margin-top: 100px;">
    <app-menu-tag ></app-menu-tag>
</div>
<!-- Specialties Our Menu section - start -->

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->   

<!-- <script src="js/bootstrap.min.js"></script> -->