<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<!-- Specialties Our Menu section - start -->
<!-- <app-menu-tag></app-menu-tag> -->
<!-- Specialties Our Menu section - start -->

<section class="ftco-section">
    <div class="container">
        <div class="ftco-search">
            <div class="row">
                <div class="col-md-12 nav-link-wrap">
                    <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill"
                            href="#v-pills-1" role="tab" aria-controls="v-pills-1"
                            aria-selected="true">Breakfast</a>

                        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                            role="tab" aria-controls="v-pills-2" aria-selected="false">Lunch</a>

                        <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
                            role="tab" aria-controls="v-pills-3" aria-selected="false">Dinner</a>

                        <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4"
                            role="tab" aria-controls="v-pills-4" aria-selected="false">Drinks</a>

                        <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5"
                            role="tab" aria-controls="v-pills-5" aria-selected="false">Desserts</a>

                        <a class="nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6"
                            role="tab" aria-controls="v-pills-6" aria-selected="false">Wine</a>

                    </div>
                </div>
                <app-menu-tag [visibleHeader]="visibleTitle"></app-menu-tag> 
            </div>
        </div>
    </div>
</section>

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->   