<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row d-flex no-gutters">
            <!-- <div class="col-md-6 order-md-last ftco-animate makereservation p-4 p-md-5 pt-5"> -->
            <div class="col-md-6 order-md-last makereservation p-4 p-md-5 pt-5">
                <div class="py-md-5">
                    <!-- <div class="heading-section ftco-animate mb-5"> -->
                    <div class="heading-section mb-5">
                        <span class="subheading">Book a table</span>
                        <h2 class="mb-4">Make Reservation</h2>
                    </div>
                    <app-reservation-from></app-reservation-from>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch pb-5 pb-md-0">
                <app-map-tag></app-map-tag>
            </div>
        </div>
    </div>
</section>

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->