 <!-- Nav bar section - start -->
 <app-navbar></app-navbar>
 <!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-header></app-header>
<!-- Header section 1- start -->

<!-- Service Start -->
<app-service-container></app-service-container>
<!-- Service End -->

<!-- Services section - start -->
<app-about-tag></app-about-tag>
<!-- Services section - end -->

<!-- Catering Services section - start -->
<app-catering-service-tag></app-catering-service-tag>
<!-- Catering Services section - end -->

<!-- Specialties Our Menu section - start -->
<app-menu-tag></app-menu-tag>
<!-- Specialties Our Menu section - start -->

<!-- Our Master Chef section - start -->
<app-master-chef-tag></app-master-chef-tag>
<!-- Our Master Chef section - end -->

<!-- Book a table section - start -->
<app-book-table-tag></app-book-table-tag>
<!-- Book a table section - end -->

<!-- Happy Customer section - start -->
<app-happy-customer-tag></app-happy-customer-tag>
<!-- Happy Customer section - end -->

<!-- Recent Posts section - start -->
<app-recent-blog-tag></app-recent-blog-tag>
<!-- Recent Posts section - end -->

<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->