<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="assets/images/breakfast-2.jpg" width="100%" id="MainImg">

        <!-- <div class="small-img-group">
            <div class="small-img-col">
                <img src="images/bg_2.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/bg_1.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/bg_1.jpg" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/bg_1.jpg" width="100%" class="small-img">
            </div>
        </div> -->
    </div>

    <div class="single-pro-details">
        <h6>Meat, Potatoes, Rice, Tomatoe</h6>
        <h4>Grilled Beef with potatoes</h4>
        <h2>$990.00</h2>
        <select>
            <option>Select Size</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Add to Cart</button>
        <h4>Product Details</h4>
        <span>Get the best Results for Resume Writers Denver. Find what you are looking for! 99% Match on Resume Writers
            Denver. Find Here - Free, Private and Secure. The Best Resources. Always Facts. Unlimited Access. Results &
            Answers. Privacy Friendly. Grammarly Helps You Eliminate Errors And Find The Perfect Words To Express
            Yourself. Find and Add Sources Fast. Fix Punctuation Errors. AI Writing Assistant. Eliminate Grammar Errors.
            Improve Word Choice. Easily Improve Any Text.</span>
    </div>
</section>