<!-- Nav bar section - start -->
<app-navbar></app-navbar>
<!-- Nav bar section - end -->

<!-- Header section 1- start -->
<app-common-header [headerItem]="headerItems"></app-common-header>
<!-- Header section 1- start -->

<!-- contact form Start -->
<app-contact-form-tag></app-contact-form-tag>
<!-- contact form End -->

<!-- contact info Start -->
<app-contact-info-tag></app-contact-info-tag>
<!-- contact info End -->


<!-- footer - start -->
<app-footer></app-footer>
<!-- footer - end -->   